/*
 * ----------------------
 * GRID - DEMO STYLES
 * ----------------------
 */

.example-style {
  background-color: #497bad;
  font-family: Lato, sans-serif;
  color: #fff;
  text-align: center;
}

.example-style:before {
  display: block;
  background: rgba(225, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding: 1em;
  text-align: center;
  font-style: italic;
}

.example-style {
  text-align: center;
}

.example-style section {
  border-top: none;
  margin-bottom: 6em;
  overflow: auto;
}

@media (min-width: 1025px) {
  .example-style .container {
    border: 2px dashed rgba(255, 255, 255, 0.5);
  }
}

.example-style .container:not(.no-padding) {
  padding-bottom: 0;
}

.example-style .column {
  background: rgba(225, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.example-style .no-padding .column {
  padding: 0;
}

.example-style h1 {
  padding: 3em 0;
  margin: 0 0 6em;
  letter-spacing: 6px;
  font-size: 16px;
  text-transform: uppercase;
  background: white;
  color: #497bad;
}

.example-style h2 {
  color: white;
  font-size: 3em;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 1em 0;
  text-transform: uppercase;
}

.example-style .button a {
  text-align: center;
  background: white;
  padding: 1em;
  margin: 0 1em;
  text-decoration: none;
  color: #333;
}

.example-style .button a:first-of-type {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.example-style .button a:hover {
  background: #ddd;
}

.example-style .button a:first-of-type:hover {
  background: transparent;
  color: #ddd;
  border-color: #ddd;
}

